* {
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #111D13;
}

header {
    display: contents;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #111D13;
}

/*Configurações gerais de Margem, Padding, Display, Justificar conteúdos e etc.*/
/* header h1 {
    margin: 0;
    padding: 0;
}

header figure {
    padding: 0;
    margin: 0;
}
*/
.navAndImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5rem;
    
}

nav {
    flex: 1;
}

.imageHeader {
    flex: 1;
    text-align: right;
}

.imageHeader img {
    max-width: 100%;
    height: auto;
}

.tabelaPeriodica {
    background-color: #3D3D6D;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.tabelaPeriodica img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.formulario {
    text-align: center;
    justify-content: center;
}

.eqForm label {
    display: block;
    margin: 0 auto 8px auto;
    text-align: center;
}

/*tamanho das fontes*/

figcaption {
    font-size: 12px;
}

.sectionHeader p {
    font-size: 24px;
}

nav li {
    font-size: 24px;
}

h1 {
    font-size: 48px;
}

h2,
h3 {
    font-size: 30px;
}

/*cores*/
h1 {
    color: #15B561;

}

h2 {
    color: #FFFD86;

}

h3 {
    color: #15B561;
}

.pPeriodica {
    color: #FFFD86;
}

li {
    text-decoration: none;
    
}

p,
li,
figcaption {
    color: #A1CCA5;
}

a {
    color: #15B561;
}

a:hover {
    color: #A1CCA5;
}

/*Responsividade*/

@media (max-width: 600px) {
    .imageHeader {
        display: none;
    }

    .tabelaPeriodica img {
        display: none;
    }

}

@media (max-width: 320px) {
    h1 {
        font-size: 1.2rem;
    }

    nav ul {
        padding: 0;
        font-size: 0.9rem;
    }

    
    /* Exemplo: forçar elementos com overflow pra quebrar em linha */
    body, html {
        overflow-x: hidden;
    }
}